sv_fit.rds
sv_fit1.rds
sv_fit2.rds
sv_fit3.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit1.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit2.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit3.rds
Petr4_ana\IBM_data.csv
IBM_data.csv
IBM_analise/sv_ibm_e1_during.rds
IBM_analise/sv_ibm_e1_post.rds
IBM_analise/sv_ibm_e1_pre.rds
IBM_analise/sv_ibm_e2_during.rds
IBM_analise/sv_ibm_e2_post.rds
IBM_analise/sv_ibm_e2_pre.rds
IBM_analise/sv_ibm_e3_during.rds
IBM_analise/sv_ibm_e3_pre.rds