sv_fit.rds
sv_fit1.rds
sv_fit2.rds
sv_fit3.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit1.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit2.rds
D:\Code\Statistics_in_R\Petr4_ana\sv_fit3.rds